:root {
    --color: hsl(0, 0%, 100%);
    --bg: #000;
    --color-alpha: hsl(0 0% 60%);
    --selection: hsl(0 0% 80%);
    --input-bg: hsl(0 0% 100% / 0.2);
    --grid-accent: hsl(280 0% 10% / 0.1);
    --glint: white;
    --button-shade: 80%;
}

:root:focus-within {
    --grid-accent: hsl(280 0% 10% / 0.35);
}

@media(prefers-color-scheme: dark) {
    :root {
        --button-shade: 30%;
        --glint: black;
        --grid-accent: hsl(280 0% 80% / 0.1);
        --selection: hsl(0 0% 20%);
        --color: hsl(var(--foreground));
        --bg: hsl(var(--background));
        --color-alpha: hsl(0 0% 50%);
        --grid-line: hsl(0 0% 12%);
        --input-bg: hsl(0 0% 0% / 0.2);
    }

    :root:focus-within {
        --grid-accent: hsl(280 0% 80% / 0.35);
    }
}

.form-group:focus-within label {
    color: var(--color);
}

.form-group:focus-within input {
    border-color: var(--color);
    color: var(--color);
}

.form-group:focus-within button {
    color: var(--color);
}

.form-group input {
    font-family: "Geist Mono", monospace;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    padding-right: 3rem;
    letter-spacing: 0.2ch;
    border-radius: 6px;
    width: 100%;
    color: var(--color-alpha);
    border: 1px solid var(--color-alpha);
    background: var(--input-bg);
    outline: none;
    transition: border-color 0.2s, color 0.2s
}

.form-group {
    position: relative;
}

.eye circle:nth-of-type(2) {
    fill: var(--glint);
}

.form-group button {
    padding: 0;
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 6px;
    border: 0;
    background: linear-gradient(hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5)), hsl(0 0% var(--button-shade) / calc(var(--active, 0) * 0.5))) padding-box;
    transition: background 0.125s;
    color: var(--color-alpha);
    position: absolute;
    right: 0;
    z-index: 2;
    top: 50%;
    cursor: pointer;
    translate: 0 -50%;
    outline: 0;
}

input::selection {
    background: var(--selection);
}

.form-group button:is(:focus-visible, :hover) {
    --active: 1;
}

.form-group button svg {
    width: 65%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.dark .form-group input {
    color: hsl(var(--foreground));
    border-color: hsl(var(--border));
    background-color: hsl(var(--input));
}

.dark .form-group button {
    color: hsl(var(--muted-foreground));
}
.dark .form-group:focus-within input {
    border-color: hsl(var(--ring));
    color: hsl(var(--foreground));
}
.dark .form-group:focus-within button {
    color: hsl(var(--ring));
}

